@model List<RecipeApp.Models.RecipeViewModel>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html>
<body>
    <div class="metro_subheader dark-overlay dark-overlay-2" style="        background-image: url(/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/subheader.jpg)">
        <div class="container">
            <div class="metro_subheader-inner">
                <h1>Recipes</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Recipes</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Subheader End -->
    <!-- Blog Posts Start -->
    <form>
        <div class="section">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">


                        <div class="col-md-4">
                            <label for="endDate">Recipe</label>
                            <input type="text" id="endDate" name="Name" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <div>Category</div>
                            <select class="form-control" name="categoryId">
                                <option value="" selected disabled hidden>Choose here</option>
                                @foreach (var cat in ViewBag.Category)
                                {

                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </select>
                        </div>


                        <div class="col-md-4">
                            <div>CreatedUser</div>

                            <input type="text" id="endDate" name="user" class="form-control">

                        </div>
                        <div class="text-left">
                            <input type="submit" value="Searh" class="mt-4 metro_btn-custom" name="button" formaction="/Recipes/Search/" formmethod="GET">
                        </div>
                    </div>
                    @*  *@

                </div>
                <br />
                <div class="row">

                    @foreach (var item in Model)
                    {
                        <!-- Recipe Start -->
                        <div class="col-lg-4 col-md-6">
                            <article class="metro_post metro_recipe">
                                <div class="metro_post-thumb">
                                    <a href="/Recipes/RecipeDetails/@item.Id">

                                        <img src="~/Upload/@item.Photo" alt="recipe">
                                    </a>
                                </div>
                                <div class="metro_post-body">
                                    <div class="metro_post-desc">
                                        <span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> @item.Duration </a> <a href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> @item.User.Name</a> </span>
                                        <h5> <a href="/Recipes/RecipeDetails/@item.Id">@item.Name</a> </h5>
                                        <p>@item.Description.Substring(0, 3)</p>
                                    </div>
                                    <a class="btn-link" href="/Recipes/RecipeDetails/@item.Id"> Read More <i class="fas fa-arrow-right"></i> </a>
                                </div>
                            </article>
                        </div>
                        <!-- Recipe End -->
                    }
                    
                    

                </div>

                <!-- Pagination Start -->
                <ul class="pagination mb-0">
                    <li class="page-item"><a class="page-link" href="#"> <i class="fas fa-arrow-left"></i> </a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#"> <i class="fas fa-arrow-right"></i> </a></li>
                </ul>
                <!-- Pagination End -->

            </div>
        </div>
        <!-- Blog Posts End -->
        <!-- Instagram Start -->
        <div class="row no-gutters">
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/1.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/1.jpg" alt="ig">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/2.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/2.jpg" alt="ig">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/3.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/3.jpg" alt="ig">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/4.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/4.jpg" alt="ig">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/5.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/5.jpg" alt="ig">
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
                <a href="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/6.jpg" class="gallery-thumb metro_ig-item">
                    <img src="/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/ig/6.jpg" alt="ig">
                </a>
            </div>
        </div>
    </form>
    <!-- Instagram End -->
</body>
</html>