@model RecipeApp.Models.CategoryViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<div class="col-md-3">
    </div>
    <div>
        <h4>CategoryViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
               <label>UserName</label>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
